.slider {
    width: 1000px;
    height: 400px;
    margin: 50px auto;
    padding: 5px 0;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    background: url("../../assets/images/slider-footer.png");
    background-repeat: no-repeat;
    background-position-y: 117%;
    background-size: 109%;
    background-position-x: 50%;

    .carousel-out {
        height: 80%;
        padding: 0 20px;
        overflow: hidden;
        width: 96%;
        margin:  0 auto;
    }

    &__carousel {
        height: 100%;
        min-width:max-content;
        display: flex;
        gap: 200px;
        position: relative;
        transition: all 0.9s;
        align-items: center;
        z-index: 10;
    }

   &__sidebgs {
       position: absolute;
       width: 100%;
       display: flex;
       justify-content: space-between;

       .right-bg {
        border-top-left-radius: 52px;
        border-bottom-left-radius: 58px;
       }
    
       .left-bg {
        border-top-right-radius: 52px;
        border-bottom-right-radius: 58px;
       }
   }

   &__bg {
        width: 86px;
        height: 332px;
        z-index: -1;
        box-shadow: rgba(70, 70, 87, 0.26) 0px 22px 70px 4px;
   }


   .active {
    width: 300px;
    height: 215px;
    position: relative;
    top: -20px;


    .slide-cashabck {
        width: 120px;
        height: 58px;
        font-size: 30px;
    }

    .date {
        width: 180px;
        height: 54px;
        top: -29px;
        font-size: 24px;
    }
}

   
    &__slide {
        height: 190px;
        background-color: blue;
        width: 215px;
        min-width: 215px;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: rgba(76, 25, 164, 0.9);

        .date {
            width: 140px;
            height: 40px;
            border-radius: 27px;
            background-color: #ffffff;
            position: relative;
            top: -23px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 18px;
        }

        .slide-cashabck {
            width: 115px;
            height: 50px;
            border-radius: 5px;
            background-color: #2b1251;
            color: #fff;
            font-size: 22px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            top: -20px;
        }

        .progress {
            width: 100%;
            background: none;
            color: #fff;
            padding: 0 8px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: visible;
            gap: 8px;

            &::after {
                content: '35';
                width: 40px;
                height: 30px;
                background: url("../../assets/images/slider_icon.png");
                background-repeat: no-repeat;
                background-size: contain;
                position: relative;
                left: -45%;
                margin-top: -35px;
                z-index: 999;
                display: flex;
                justify-content: center;
                text-align: center;
                color: #000;
                font-weight: bold;
                font-size: 11px;
            }
            

            .progress-bar {
                width: 90%;
                height: 20px;
                border-radius: 8px;
                background-color: rgba(0,0,0,0.5019607843137255);
                border: 2px solid rgba(255,255,255,0.15);
                padding: 2px;
                display: flex;
                justify-content: center;

                .progress-bg {
                    width: 65%;
                    height: 90%;
                    border-radius: 5px;
                    background-color: #1bbb2b;
                }
            }

            span {
                position: relative;
                top: 2px;
            }
        }
    }

    &__arrows {
        position: absolute;
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 25%;
        align-self: center;
        z-index: 999;
        bottom: 50%;

        .arrow {
            width: 60px;
            height: 60px;
            background-color: rgb(255, 255, 255);
            cursor: pointer;
            color: rgb(92, 92, 255);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 50px;
            font-weight: bolder;
        }
        
    }
}

@media (max-width: 1200px) {
    .slider {
        &__arrows {
            bottom: 55%;
            .arrow {
                width: 40px;
                height: 40px;
            }
        }
    }
}



@media (max-width: 992px) {
    .slider {
        width: 800px;
        background-position-y: 105%;

        &__slide {
            width: 180px;
            height: 170px;
            min-width: 0;
        }

        &__carousel {
            gap: 160px;
        }

        .active {
            width: 215px;
            height: 190px;
        }
    }
}


@media (max-width: 800px) {
    .slider {
        width: 600px;
        background-position-y: 100%;

        &__slide {
            width: 150px;
            height: 140px;
            min-width: 0;
        }

        &__carousel {
            gap: 80px;
        }

        .active {
            width: 200px;
            height: 180px;
        }

        &__arrows {
            bottom: 55%;
            .arrow {
                width: 25px;
                height: 25px;

                img {
                    width: 50%;
                }
            }
        }
    }
}



@media (max-width: 600px) {
    .slider {
        width: 350px;
        background-position-y: 95%;
        background-size: 110%;

        &__slide {
            width: 100px;
            height: 210px;
            min-width: 0;
        }

        &__carousel {
            gap: 200px;
        }

        .active {
            width: 340px;
            height: 210px;
        }

        &__sidebgs {
            display: none;
        }

        &__arrows {
            bottom: 25%;
            padding: 0 25%;
            .arrow {
                width: 35px;
                height: 35px;

                img {
                    width: 50%;
                }
            }
        }
    }
}
