<div class="wrapper" [style.fontFamily]="fontFamily">
  <app-header (updateData)="updateData($event)"></app-header>

  <app-logo></app-logo>

  <app-offers [selectedLanguage]="language"></app-offers>

  <app-play [selectedLanguage]="language"></app-play>

  <app-slider [selectedLanguage]="language"></app-slider>

  <app-play [selectedLanguage]="language"></app-play>

  <app-cashback [selectedLanguage]="language"></app-cashback>

  <app-alert [selectedLanguage]="language"></app-alert>

  <app-rules [selectedLanguage]="language"></app-rules>

</div>